# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/main
/api

# Test
*.test
*.out
coverage.html

# Dependency
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Environment
.env
.env.*

# Helm secrets
chart/values-secrets.yaml
chart/values-*.secret.yaml

# OS
.DS_Store
Thumbs.db

# Build
tmp/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.lock.hcl
crash.log
crash.*.log
tekton/taskrun-*.yaml
tekton/pipelinerun.yaml
