# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/main
/api

# Test
*.test
*.out
coverage.html

# Dependency
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Build
tmp/
